body {
  background-color: #F9F9F9;
  color: #262828;
  font-family: Helvetica;
  font-size: 12;
  line-height: 1;
}

.header1 {
  color: #415054;
  font-family: Helvetica;
  font-size: 14;
}

#center {
align-items: center;
margin: 0 auto;
display: inline-block;

}

.header2 {
  color: #3E3E42;
  font-family: Helvetica;
   font-size: 14;

}

.greyp {
  line-height: 2;
}

.btn {
    background-color: #ff7780;
    color: #FFFFFF;
    padding: 10px 10px;
    border-radius: 3px;
}

.card {
  background-color: #FFFFFF;
  width: 700px;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(137, 137, 137, .2);
  margin: 40px auto;
  border-radius: 4px;
  padding: 40px;
  align-items: center;
}

.container {
  margin: 0 auto;
}

#roundedpic {
  border-radius: 20%;
}

#centered {
  align-items: center;
}

a {
  color: #7F8E91;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
}

.list-inline {
    text-align: center;
    list-style-position: inside;
    padding:0px;
}

.list-inline img {
  padding:5px;
}
